.img1{
    margin-top: 50px;
}
.title{
    position: relative;
    bottom: 200px;
    left: 100px;
    color: white;
}
.story{
    color: yellow;
}
.subtitle{
    position: relative;
    bottom: 190px;
    left: 100px;
    color: white;
    font-size:25px;
}
.middlesection{
    height: 200px;
    border: 1px solid whitesmoke;
    font-size: 27px;
    border-radius:10px ;
    position: relative;
    bottom:50px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px ;
}