/* General styles that apply to all screen sizes */
.section {
    }

.title {
    font-size: 50px;
    display: inline;
    position: relative;
    top: 100px;
    right: -100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subtitle {
    position: relative;
    font-size: 50px;
    line-height: 5px;
    top: 100px;
    right: -101px;
}


.para {
    position: relative;
    top: 150px;
    
    right: -101px;
    line-height: 5px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
    position: relative;
    bottom: 600px;
    margin-top: 70px;
    right: -101px;
    background-color: rgba(139, 70, 203, 0.729);
    border-radius: 10px;
    color: white;
    width: 100px;
    height: 50px;
}

.btn:hover {
    color: yellowgreen;
}

.img {
    display: block;
    margin: 0 auto;
    position: relative;
    top: -150px;
    right: -90px;
    height: 700px;
}

.secondsecond {
    text-align: center;
    position: relative;
    bottom: 250px;
}

.box1, .box2, .box3 {
    border: 1px solid black;
    display: inline-block;
    color: rgb(249, 244, 244);
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

.box1 {
    background: rgb(33,2,2);
    background: linear-gradient(223deg, rgba(33,2,2,1) 0%, rgba(143,142,108,0.9682466736694678) 100%, rgba(103,159,255,1) 100%);
}

.box2 {
    background: rgb(33,2,2);
    background: linear-gradient(223deg, rgba(33,2,2,1) 0%, rgba(251,124,200,0.9682466736694678) 100%, rgba(103,159,255,1) 100%);
}

.box3 {
    background: rgb(33,2,2);
    background: linear-gradient(223deg, rgba(33,2,2,1) 0%, rgba(251,178,124,0.9682466736694678) 100%, rgba(103,159,255,1) 100%);
}

.box {
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 200px;
    
}

.footer {
    justify-content: center;
    height: 150px;
    width: 500px;
    border: 1px solid black;
    text-align: center;
    position: relative;
    bottom:150px;
    right: -600px;
    background-color: rgb(3, 135, 201);
    color: white;
    border-radius: 20% 5%;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .title, .subtitle, .para, .btn, .img, .secondsecond, .box, .footer {
        /* Adjust styles for smaller screens here */
        right: 0; /* Reset right position */
        text-align: center; /* Center text elements */
        width: 100%; /* Make elements full-width */
        margin-right: auto;
        margin-left: auto;
    }

    .btn {
        bottom: 0;
    }

    .img {
        top: 0;
        right: 0;
        height: auto; /* Make the image responsive */
        width: 100%; /* Make the image full-width */
    }

    .footer {
        right: 0;
    }
}

